<center>
  <div class="signin-centered">
    <h1>RESET YOUR PASSWORD</h1>
    <p>That's OK. It happens to all of us.</p>
    <div class="signin-box">
      <h3>ENTER YOUR EMAIL</h3>
      <p>A reset link will be sent to you.</p>
      <%= form_tag password_resets_path, :method => :post do %>
        <p><%= text_field_tag :email, params[:email] %></p>
        <p><%= submit_tag "Reset PW", class: 'pink-btn'  %></p>
      <% end %>
    </div>
  </div>
</center>
