<h1>Assignments#edit</h1>
<p>Find me in app/views/assignments/edit.html.erb</p>

<%= render 'form' %>
<br>

<center>
<%= link_to "FRONT PAGE", root_path %><br>
<%= link_to "ASSIGNMENTS", assignments_path %>
</center>
