<h1>Reminders#send_email</h1>
<p>Find me in app/views/reminders/send_email.html.erb</p>
<br><h1><p>You sent an email to <%= params[:address] %>. </p></h1>

<center>
  <br><p> Back to Home: <%= link_to "DASHBOARD", root_path %></p>
