<center>
  <div id='top-nav'>
    <br>
    <p>Hey, all.</p>
    <p>Hi, <%= session[:user_name] %>. </p>
    <% if current_user.avatar.blank? %>
      <p>Update your avatar! <%= link_to "MY PROFILE", student_path(current_user) %></p>
    <% else %>
      <p><%= image_tag current_user.avatar.url(:thumb) %></p>
    <% end %>
  </div>
</center>
