<center>
  <div id='top-nav'>
    <div id='nav-left'>
      <%= image_tag("logo_mark_small.png", :class => 'pull-left')  %>
    </div>
    <div id='nav-right'>
      <%= image_tag current_user.avatar.url(:tiny), :class => "img-circle room-on-top" %>
      <span class="centered-label">
        <% if current_user.avatar.blank? %>
          <%= link_to "Update profile", student_path(current_user) %>
        <% end %>
      </span>
    </div>
  </div>
</center>
