<h1>Homeworks#show</h1>
<p>Find me in app/views/homeworks/show.html.erb</p>

<center>

<h1>HOMEWORK</h1>

<p>
  <strong>Title:</strong>
  <p><%= @homework.title %></p>
</p>

<%= image_tag @homework.document.url(:thumb) %>

<p>Go back to the dashboard: <%= link_to 'FRONT PAGE', root_path %></p>
<p>Go back to assignments: <%= link_to 'ASSIGNMENTS', assignments_path %></p>


</center>
